

<form>
  <label>Start Date:
    <input type="date" name="start_date" min="2022-05-10" max="2022-06-05">
  </label>
  <label>End Date:
    <input type="date" name="end_date" min="2022-05-10" max="2022-06-01">
  </label>
  <a class="submit"><button>submit</button></a>
</form>