

<form>
  <label>Start Date:
    <input type="date" name="start_date" min=<%= @available_from %> max=<%= @available_to %>>
  </label>
  <label>End Date:
    <input type="date" name="end_date" min=<%= @available_from %> max=<%= @available_to %>>
  </label>
  <a class="submit"><button>submit</button></a>
</form>