
<h3> <%= @space_name %> </h3>
<form action='/request/confirm' method='post'>
  <input type='submit' value='Confirm' name='confirm'>
  <br>
  <br>
  <input type='submit' value='Deny' name='deny'>
</form>