<h1>Feel at home, anywhere</h1>

<h2>Sign up to MakersBnB<h2>

<div style="width:400px; margin-right:auto; margin-left:auto; border:1px solid #000;">
  <form action="/spaces" method="post">
      Email: <input type='text' name='email'>
      <br>
      Password: <input type='text' name='password'>
      <br>
      <input type='submit' value='Sign me up!'>
  </form> 
</div>