<body>
  <div class="main">
    <p class="sign" align="center">Log in to MakersBnB</p>

    <form class="form1" action='/login' method='post'>
      <input class="un " type="text" align="center" name="email" placeholder="Email">
      <input class="pass" type="password" align="center" name="password" placeholder="Password">
      <a class="submit" align="center"><button>login</button></a>
    </form> 

  </div>    
</body>