


<form action='/requests' method="post">
  Request from (DD/MM/YY): 
    <br>
    <input class="un " type="text" align="center" name="request-from">
    <br>
  Request to (DD/MM/YY): 
    <br>
    <input class="un " type="text" align="center" name="request-to">
    <br>
  <button> 
    Book me 
  </button>
</form>