


<form action='/request' method="post">
  Request from (DD/MM/YY): 
    <br>
    <input class="un " type="text" align="center" name="request_from">
    <br>
  Request to (DD/MM/YY): 
    <br>
    <input class="un " type="text" align="center" name="request_to">
    <br>
  <button> 
    Request to Book
  </button>
</form>