<body>
  <div class="main">
    <p class="sign" align="center"><h1>Requests</h1></p>

    <ul>
    <h3> Booking requests I made </h3>
      <% @booking_requests.each do |booking_request| %>
      <% if booking_request.space_renter ==  @user_id %>
        <li class="request" id="request-<%= booking_request.id %>">
          <form action="/requests/confirm" method="get">
          <%= @space_name %> <button>View</button>
        <% end %>
          </form>
        </li>
      <% end %>
    </ul> 

    <ul>
     <h3> Booking requests I received </h3>
      <% @booking_requests.each do |booking_request| %>
      <% if booking_request.owner_id ==  @user_id %>
        <li class="request" id="request-<%= booking_request.id %>">
          <form action="/requests/confirm" method="get">
          <%= @space_name %> <button>View</button>
            <% end %>
          </form>
        </li>
      <% end %>
    </ul> 

  </div>    
</body>