<form action='/requests' method="post">
  Request from (YYYY-MM-DD): 
    <br>
    <input type="date" name="start_date" min=<%= @available_from %> max=<%= @available_to %>>
    <br>
  Request to (YYYY-MM-DD): 
    <br>
  
    <input type="date" name="end_date" min=<%= @available_from %> max=<%= @available_to %>>
    <br>
  <input type="submit" value="Book me" >
</form>