<body>
<form action = "/sign_out" method="post">
<button>Sign Out</button>

<form action = "/go_to_spaces" method="post">
<button>Spaces</button>
</form>
<form action = "/go_to_requests" method="post">
<button>Requests</button>
</form>

</form>
  <div class="main">
    <p class="sign" align="center">List a Space</p>

    <form class="form1" action='/spaces/new' method='post'>
      Name:
      <br>
      <input class="un " type="text" align="center" name="name">
      <br>
      Description:
      <br>
      <textarea rows='5' cols=80' name='description'></textarea>
      Price per night (£)
      <br>
      <input class="un " type="text" align="center" name="price">
      <br>
      Available from (YYYY-MM-DD): 
      <br>
      <input class="un " type="text" align="center" name="available_from">
      <br>
      Available to (YYYY-MM-DD): 
      <br>
      <input class="un " type="text" align="center" name="available_to">
      <br>
      <br>
      <a class="submit" align="center"><button>List my Space</button></a>
    </form> 

  </div>    
</body>