<body>
  <div class="main">
    <p class="sign" align="center">List a Space</p>

    <form class="form1" action='/login' method='post'>
      Name:
      <br>
      <input class="un " type="text" align="center" name="name">
      <br>
      Description:
      <br>
      <textarea rows='5' cols=80' name='message'></textarea>
      Price per night (£)
      <br>
      <input class="un " type="text" align="center" name="price">
      <br>
      Available from (DD/MM/YY): 
      <br>
      <input class="un " type="text" align="center" name="available-from">
      <br>
      Available to (DD/MM/YY): 
      <br>
      <input class="un " type="text" align="center" name="available-to">
      <br>
      <br>
      <a class="submit" align="center"><button>List my Space</button></a>
    </form> 

  </div>    
</body>